@model Car


<form asp-controller="Car" asp-action="AddCar" method="post">
    <div class="mb-3">
        <label for="Make" class="form-label">Make:</label>
        <input class="form-control"  asp-for="@Model.Make">

        <label for="Make" class="form-label">Make:</label>
        <input class="form-control"  asp-for="@Model.Model">

        <label for="Make" class="form-label">Make:</label>
        <input class="form-control" asp-for="@Model.Price">

        <label for="Make" class="form-label">Make:</label>
        <input class="form-control" asp-for="@Model.Color">

        <label for="Make" class="form-label">Make:</label>
        <input class="form-control" asp-for="@Model.EngineSize">

        <label for="Make" class="form-label">Make:</label>
        <input class="form-control" asp-for="@Model.FuelEfficiency">

        <label for="Make" class="form-label">Make:</label>
        <input class="form-control" asp-for="@Model.photos">
       
    </div>
    <button type="submit" class="btn btn-primary" value="Add">Submit</button>
</form>